/* Frank Poth 08/13/2017 */

.show{
  display: block!important;
}
.hide{
  display: none!important;
}
* {

  box-sizing:border-box;
  margin:0;
  padding:0;

  -ms-user-select: none;

  -moz-user-select: none;

  -khtml-user-select: none;

  -webkit-user-select: none;
}

html, body {

  height:100vh;
  width:100%;

}

body {

  align-content:space-around;
  background-color:#ff8;
  color:black;
  /* display:grid; */
  justify-content:center;

}


canvas {
  background-color:#ffffff;

}
.containers{
  display: flex;
  justify-content: flex-start;
  max-width:600px;
  width: 100%;
  height: 250px;
}
.container span{
  color: black;
  z-index: 100;
}
.gameBtn {
  display: none;
  z-index: 100;
  margin: auto;
  border: none;
  padding: 5px;
}
button::after{
  text-decoration: none
}
.gameBtn :hover{
  background-color:silver;
  transform: scale(1.2);
}
.textMenu{
  /* position: absolute; */
  z-index: 1000;
  margin: 10px
  color: black;
}

#counter{
  position: absolute;
  text-align: left;
  margin: auto;
  margin-left: 100px;
  float: right;
  color: black;
}
#oldCounter{
  position: absolute;
  float: right;
  color: black;
}
.runner-container{
  position: absolute;
}
