.messeges{
  max-height: calc(100vh - 5rem);
  overflow-y: auto;
  /* overflow-y: scroll; */
  /* height: 95vh;
  width: 90vw; */
  /* margin-top: 120px; */
}
#messageForm{
  display: flex;
}
#msgText{
  /* width: 42vw; */
}
.helloUser{
  position: absolute;
}
.online{
  float: right;
  cursor: pointer;
}
.online span{
  color: blue!important;
}
