@media (max-width: 991px) {

  .messeges{
    /* max-height: 30vh; */
    height: 30vh;
  }
  #messageFormMobile{
    display: flex!important;
  }
  #messageForm{
    display: none!important;
  }


}

#messageFormMobile{
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.messeges{
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  word-break: break-all;
  width: 100%;
}
#messageForm{
  display: flex;
}

.helloUser{
  position: absolute;
}
.logout{
  /* position: absolute; */
  float: right;
  z-index: 100
}
.online{
  float: right;
  cursor: pointer;
}
.online span{
  color: blue!important;
}
.helloDiv{

}
.connectDisconnect{
  padding: 0;
  margin: 0;
}
.newRecord{
  color: #ff13f8;
  font-weight: 700;
}
.myResult{
  color: black;
  font-weight: 700;
}
.link{
  color:blue;
  cursor:pointer;
}
